<!-- Style -->
<link href="/assets/css/main.css" rel="stylesheet">

<!-- Meta -->
<meta name="author" content="{{ base.author.name }}">
<meta name="description" content="{{ base.description }}">
<meta name="og:title" content="{{ title or base.title }}">