.post
  padding: 2em
  .post-hero
    // .post-title
    .post-subtitle
      font-weight: lighter
      font-size: 1em
    .post-subdata
      display: flex
      gap: 15px
      p
        display: inline-block

  hr
    border: 1px solid #ebebeb

  .post-content
    h2
      margin-top: 1em

.book-cover
  .book-cover-wrapper
    text-align: center
    img
      width: 30vw
      @media (max-width: 450px)
        width: 70%
