load-font(src)
  '/static/fonts/' + src

.margin
  content: ''
  &.margin-tag
    &.vertical
      &.val-10px
        margin: 5px 0
      &.val-20px
        margin: 10px 0
      &.val-30px
        margin: 15px 0
    &.horizontal
      &.val-10px
        margin: 0 5px
      &.val-20px
        margin: 0 10px
      &.val-30px
        margin: 0 15px
  &.size
    &.vertical
      &.val-10px
        __margin-using-size(0, 10px)
      &.val-20px
        __margin-using-size(0, 20px)
      &.val-30px
        __margin-using-size(0, 30px)
    &.horizontal
      &.val-10px
        __margin-using-size(10px, 0)
      &.val-20px
        __margin-using-size(20px, 0)
      &.val-30px
        __margin-using-size(30px, 0)

.flex
  display: flex

user-select(arg)
  -webkit-touch-callout: arg
  -webkit-user-select: arg
  -moz-user-select: arg
  -ms-user-select: arg
  user-select: arg

box-sizing(arg)
  -webkit-box-sizing: arg
  -moz-box-sizing: arg
  box-sizing: arg

size(w, h)
  fix-width(w)
  fix-height(h)

fix-width(w)
  width: w
  min-width: w

fix-height(h)
  height: h
  min-height: h

__margin-using-size(w, h)
  size(w, h)
