---
layout: layouts/base.njk
---

<div class="post">
  <div class="post-hero">
    <h1 class="post-title">
    {%- if title -%} {{ title }}
    {%- elif book.title -%} {{ book.title }}
    {%- endif -%}
    </h1>
    {%- if book.subtitle -%}
      <h2 class="post-subtitle book-subtitle">{{ book.subtitle }}</h2>
    {%- endif -%}
    <div class="post-subdata">
      <p class="book-author">{{ book.author }}</p>
      <p class="post-date">{{ date }}</p>
    </div>
  </div>
  <div class="margin size vertical val-30px"></div>
  <div class="book-cover">
    <p class="book-cover-wrapper">
      <img class="book-cover-src" src="{{ book.cover }}" alt="{{ book.title }} 표지">
    </p>
  </div>
  <hr>
  <div class="post-content">
    {{ content | safe }}
  </div>
</div>